<section class="min-h-screen ">
    <div class="flex flex-col min-h-screen justify-around pl-12 pr-12">
        <div class="flex justify-between flex-wrap items-center text-white">
            <div>{{ source('logoReactic.svg') }}</div>
            <div class="">
                <a href="/" class="text-primary bg-teal-900 hover:bg-primary hover:text-teal-900 border-2 border-teal-400 p-2.5 rounded-3xl">Contactez-nous</a>
            </div>
        </div>

        <div class="text-white flex justify-around w-full flex-wrap">
            <div class="max-w-xs">
                <p class="text-teal-900 text-2xl font-poppins">Retrouvez-nous</p>
                <div class="w-72 bg-teal-400 h-0.5 my-5"></div>
                <p class="text-white text-2xl font-normal">The Babel Community
                    70 Rue de la République,
                    13002 Marseille - France
                    (Entre la Joliette & le Vieux-Port)</p>
            </div>
            <div class="max-w-xs">
                <p class="text-teal-900 text-2xl font-poppins">Liens utiles</p>
                <div class="w-72 bg-teal-400 h-0.5 my-5"></div>
                <ul class="text-white text-2xl font-normal ">
                    <li ><a href="/">Accueil</a></li>
                    <li><a href="/">Sites internet</a></li>
                    <li><a href="/">Méthodologie</a></li>
                    <li><a href="/">Contact</a></li>
                    <li><a href="/">Mentions légales</a></li>
                    <li><a href="/">Archives</a></li>
                    <li><a href="/">Plan du site</a></li>
                </ul>
            </div>
            <div class="max-w-xs
                        md:-translate-x-48
                        sm:-translate-x-10
                        xs:translate-x-2
                        2xs:translate-x-12
                        ">
                <p class="text-teal-900 text-2xl font-poppins">Conseils offerts</p>
                <div class="w-72 bg-teal-400 h-0.5 my-5"></div>
                <p class="text-white text-2xl font-normal">Recevez gratuitement des conseil
                    s dans le digital en nous suivant
                    sur LinkedIn ou sur Facebook.</p>
                <div class="flex gap-5 my-5">
                    <div>{{ source('pictures/icone-linkedin.svg') }}</div>
                    <div>{{ source('pictures/fb.svg') }}</div>
                </div>
            </div>
        </div>
        <div class="text-white  text-2xl text-center">© 2020-2021 Reactic. Tous droits réservés.</div>
    </div>

</section>