<section class="-mr-12 -ml-12 min-h-screen  flex flex-col relative bg-no-repeat bg-center bg-gradient-to-t from-primary via-teal-900 to-primary ">

    <div class="flex flex-row  flex-none"></div>
    <div class="flex flex-row  flex-1 text-white justify-center items-center text-center flex-wrap w-full ">
        <div class="
            max-w-5xl  pr-12 pl-12 z-[1]
            2xl:pr-0 2xl:pl-0 2xl:max-w-6xl
            ">
            <p class="text-2xl pb-48 font-bold opacity-100
                2xl:text-5xl
                xl:text-5xl
                lg:text-3xl
                md:text-3xl
                sm:text-xl
                ">La raison d’être d’un projet digital Participer<br>
                à la croissance de l’entreprise</p>

            <p class="text-xl text-white font-bold leading-[3rem]
                          2xl:text-3xl
                          xl:text-3xl
                          lg:text-2xl
                          md:text-xl
                          sm:text-xl
                          ">On ne parvient pas à atteindre le succès en misant uniquement sur le nombre de fonctionnalités, le design le plus beau ou en ciblant toute son audience.
                Le succès s’obtient par la récolte, l’analyse et le traitement de données qui génèrent le plus d’impact pour l’entreprise et les utilisateurs.
                Ce qui repose sur une approche qui prend en compte trois aspects fondamentaux d’une stratégie orientée croissance.</p>
        </div>


    </div>


    <div class="flex flex-row  flex-none"></div>


</section>