<section class="min-h-screen flex flex-col">
    <!-- division 1 -->
    <div class="flex flex-row flex-none pt-12 pl-12 pr-12">
        <div class="flex justify-between w-full items-center  flex-wrap">
            <div class="">{{ source('logoReactic.svg') }}</div>
            <div class="">
                <a href="/" class="text-teal-900 hover:bg-teal-900 hover:text-primary border-2 border-teal-400 p-2.5 rounded-3xl">Un projet ?</a>
            </div>
        </div>
    </div>
    <!-- fin de division 1 -->

    <!-- division 2 -->
    <div class="min-h-screen flex  justify-center items-center  ">
        {{ source('pictures/cIrcleReactic.svg') }}
    </div>

    <div class="text-teal-900 absolute top-1/2 left-0 translate-x-20 transform -translate-y-1/2
                2xl:absolute  2xl:text-white 2xl:text-2xl 2xl:top-1/2 2xl:left-1/2 2xl:-translate-y-72 2xl:-translate-x-40
                xl:absolute xl:block  xl:text-white xl:text-2xl xl:top-1/2 xl:left-1/2 xl:-translate-y-72 xl:-translate-x-20
                lg:absolute lg:block  lg:text-white lg:text-2xl lg:top-1/2 lg:left-1/2 lg:-translate-y-72 lg:-translate-x-20



                ">L’ENTREPRISE</div>
    <div class="text-teal-900 absolute top-1/2 left-1/2 -translate-x-20 translate-y-[450px]
                2xl:absolute 2xl:block 2xl:text-white 2xl:text-2xl 2xl:top-1/2 2xl:left-0 2xl:translate-y-20 2xl:translate-x-80
                xl:absolute xl:block xl:text-white xl:text-2xl xl:top-1/2 xl:left-0 xl:translate-y-20 xl:translate-x-40
                lg:absolute lg:block lg:text-white lg:text-2xl lg:top-1/2 lg:left-0 lg:translate-y-20 lg:translate-x-10



                ">LA TECHNOLOGIE</div>
    <div class="text-teal-900 absolute top-1/2 left-1/2 translate-x-72 transform -translate-y-1/2
                2xl:absolute 2xl:block 2xl:text-white 2xl:text-2xl 2xl:top-1/2 2xl:left-1/2 2xl:translate-x-72
                xl:absolute xl:block xl:text-white xl:text-2xl xl:top-1/2 xl:left-1/2 xl:translate-x-72
                lg:absolute lg:block lg:text-white lg:text-2xl lg:top-1/2 lg:left-1/2 lg:translate-x-72




                ">L’AUDIENCE</div>
    <!-- fin de division 2 -->
    <!-- division 3 -->
    <div class="flex flex-row  flex-none"></div>
    <!-- fin de division 3 -->



</section>