<section class="min-h-screen -ml-12 -mr-12 " style="background-image: url('images/bgReactic.png'); background-size: cover; ">


    <div class="flex flex-col  min-h-screen justify-around ">
        <div class="text-white text-3xl font-bold font-poppins text-center">Notre philosophie de conception</div>
        <div class="text-white flex justify-around w-full flex-wrap">
            <div>{{ source('pictures/pointDeVue.svg') }}</div>
            <div>{{ source('pictures/percentOfAction.svg') }}</div>
            <div>{{ source('pictures/progress.svg') }}</div>
        </div>
        <a href="{{ path('app_methodologie') }}" class="text-white  text-2xl text-left pl-20 hover:text-teal-900 underline hover:decoration-2">Cliquer ici pour découvrir la méthodologie
            utilisée<br> par Reactic.</a>
    </div>




</section>