<div class="flex-none h-7 bg-teal-900 "></div>
<div class="flex-1 flex flex-row items-center ">
    <div class="basis-1/12 text-center text-white font-poppins font-light flex flex-wrap"></div>
    {% if (m_current_item==1 ) %}
        <div class="
         h-full flex text-center items-center basis-2/12 text-primary-50 bg-primary border-2 border-teal-900
         text-[10px]
         sm:text-sm space-x-20
         md:text-sm space-x-10
         lg:text-sm
         2xl:text-lg
    "><div>1 DECOUVERTE ET RECUEIL DES DONNEES</div></div>
    {% else %}
        <div class="basis-2/12 text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">1 DECOUVERTE ET RECUEIL DES DONNEES</div>
    {% endif %}
    {% if (m_current_item==2) %}
        <div class=" h-full flex justify-center items-center basis-2/12 text-primary-50 bg-primary border-2 border-teal-900
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    "><div>2 STRATEGIE & PLANNING</div></div>
    {% else %}
    <div class="basis-2/12  text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">2 STRATEGIE & PLANNING</div>
    {% endif %}
    {% if (m_current_item==3) %}
    <div class="h-full flex justify-center items-center basis-2/12 text-primary-50 bg-primary border-2 border-teal-900
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    "><div>3 MAQUETTES & DESIGN</div></div>
    {% else %}
    <div class="basis-2/12  text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">3 MAQUETTES & DESIGN</div>
    {% endif %}
    {% if (m_current_item==4) %}
    <div class="h-full flex text-center items-center basis-2/12 text-primary-50 bg-primary border-2 border-teal-900
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    "><div>4 CONSTRUCTION, TESTS & DEPLOIEMENTS</div></div>
    {% else %}
    <div class="basis-2/12 text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">4 CONSTRUCTION, TESTS & DEPLOIEMENTS</div>
    {% endif %}
    {% if (m_current_item==5) %}
    <div class="h-full flex text-center items-center basis-2/12 text-primary-50 bg-primary border-2 border-teal-900
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">5 MESURES & OPTIMISATION</div>
    {% else %}
    <div class="basis-2/12  text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    ">5 MESURES & OPTIMISATION</div>
    {% endif %}
    <div class="basis-1/12 text-center text-white font-poppins font-light
        text-[10px]
        sm:text-sm
        md:text-sm
        lg:text-sm
        2xl:text-lg
    "></div>
</div>