

<div class="min-h-screen max-h-screen flex justify-around items-center flex-wrap sm:flex sm:justify-center">
    <div class="">
        <div class=" items-center justify-center  text-white ">
            <div class="bg-teal-400 h-1 w-screen
        2xl:hidden
        xl:hidden
    "></div>
            <div class="text-5xl my-5 text-center">
                {{ m_title }}
            </div>

            <div class=" bg-teal-400 h-1 w-screen
        2xl:bg-teal-400 2xl:w-72 2xl:h-0.5 2xl:translate-x-12
        xl:bg-teal-400 xl:w-72 xl:h-0.5 xl:translate-x-12
    "></div>
            <div class="mt-10 pl-12 ">
                {{ smartListFistSection | raw }}
            </div>
        </div>
    </div>

    <div class="lg:-mt-[500px] lg:ml-96 md:-mt-[400px] md:ml-60 sm:-mt-[500px] sm:ml-60 xs:-mt-96 2xs:-ml-12">
        <img loading="lazy" src="https://reactic.io/wp-content/uploads/2020/09/methodologie-oriente-croissance-etape-1.png" alt="" class="wp-image-634"
             width="600" height="418" srcset="https://reactic.io/wp-content/uploads/2020/09/methodologie-oriente-croissance-etape-1.png 636w,
         https://reactic.io/wp-content/uploads/2020/09/methodologie-oriente-croissance-etape-1-300x200.png 300w" >

    </div>
</div>











