<section class="h-screen flex flex-col  ">
    <div class="bg-primary flex-none h-12">
        <a href="/" class="">
            {{ source("logo.svg") }}
        </a>
    </div>
    <div class="-mr-12 -ml-12 bg-tertiary flex-none h-28 flex flex-col">
        {{ include("methodologie/_process_header.html.twig") }}
    </div>



    <div>
            {{ include("methodologie/_process_content.html.twig") }}
    </div>

</section>

<!--
<div class="flex-1 flex flex-row items-center">

    </div>
-->