<section class="h-screen flex flex-col  ">
    <div class="bg-primary flex-none h-12">
        <a href="/" class="">
            {{ source("logo.svg") }}
        </a>
    </div>
    <div class="-mr-12 -ml-12 bg-tertiary flex-none h-28 flex flex-col">
        {{ include("methodologie/_process_header.html.twig") }}
    </div>
    <div class="relative">
        <a href="/" class="
        w-full absolute right-0 top-0 translate-x-64 translate-y-20
        sm:w-10 sm:top-1/2 sm:left-1/2 sm:translate-x-10 sm:translate-y-28
        lg:top-1/2 lg:top-10 lg:left-1/2 lg:-translate-x-64 lg:translate-y-32
        xl:top-0 xl:left-1/2 xl:translate-y-40
        2xl:absolute 2xl:top-0 2xl:left-1/2 2xl:-translate-x-40 2xl:translate-y-32
        ">
            {{ source( m_number ) }}
        </a>
    </div>

    <div class="flex-1 flex flex-row items-center">
            {{ include("methodologie/_process_content.html.twig") }}
    </div>
</section>