
<section class="min-h-screen -ml-12 -mr-12 bg-no-repeat" style="background-image: url('images/double_r.svg'); background-position: right">
    {{ include('layout/navbar.html.twig') }}

    <div class="min-h-screen flex flex-row justify-around items-center xs:flex-col sm:flex-col md:flex-col lg:flex-col xl:flex-col 2xl:flex-row">
        <div class="max-w-5xl ">
            <p class="text-5xl text-teal-900">Notre méthodologie <span class="text-white">Votre succès</span></p>
            <p class="text-3xl text-white">Nous créons des applications web à la hauteur de vos exigences</p>
        </div>
        <div></div>
    </div>
</section>

<!-- style="transform: translateY(-65vh) translateX(-200px);" -->