
<section class=" min-h-screen -ml-12 -mr-12">
    {{ include('layout/navbar.html.twig') }}
<div class="">

    <div class="pl-12 max-w-5xl top:1/2 translate-y-80
     2xl:absolute 2xl:top-96 2xl:max-w-7xl
     md:absolute md:top-1/2 md:-translate-y-80 md:max-w-3xl
     lg:top-1/2 lg:-translate-y-1/2 ">
        <p class="text-teal-900 text-3xl 2xl:text-5xl md:text-5xl">Notre méthodologie <span class="text-white">Votre succès</span></p>
        <p class="text-white 2xl:text-3xl md:text-4xl">Nous créons des applications web à la hauteur de vos éxigences</p>
    </div>

    <div class="
     top-1/2 translate-x-20 translate-y-80 w-96
     sm:-top-1/2 sm:translate-x-28 sm:translate-y-72
     2xl:w-[1000px]  2xl:translate-x-[550px] 2xl:-translate-y-16
     xl:w-[1000px] xl:top-1/2 xl:translate-x-[300px] xl:-translate-y-20
     md:w-[800px] md:top-1/2 md:translate-x-1 md:translate-y-10
     lg:w-[700px] lg:top-1/2 lg:translate-y-20 lg:translate-x-96
    ">
        {{ source("double_r.svg") }}
    </div>

</div>
    <div class="flex-2 absolute right-20 bottom-6 antialiased">
        <a href="/" class="text-teal-900 hover:bg-teal-900 hover:text-primary md:border-2 border-teal-400 p-2.5 md:rounded-3xl 2xl:rounded-3xl">Un projet ?</a>
    </div>

</section>

<!-- style="transform: translateY(-65vh) translateX(-200px);" -->